<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento em uma encomenda com seu nome, confira os detalhes abaixo: </p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Data do cancelamento: </strong> {{ date }} <br />
  <br />
  <small>
    Não é mais necessário a entrega do produto.
  </small>
</p>
