<strong>Olá, {{ deliveryman }}</strong>
<p>Foi adicionado uma nova encomenda em seu nome, confira os detalhes abaixo: </p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    Produto está pronto para retirada.
  </small>
</p>
